/* Footer actualizado */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    margin-top: 50px;
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
  }
  
  .social-links {
    margin-top: 20px;
  }
  
  .social-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .social-links a:hover {
    color: #61dafb; /* Efecto hover moderno */
  }
  